body {}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {width: 15em;}

header h1 {
  font-family: Georgia, serif;
  font-size: 2em;
  text-align: center;
  font-weight: 100;
  line-height: 0.2;
}

header h2 {
  font-size: 1em;
  text-align: center;
  padding-bottom: 1.5em;
  font-weight: 100;
}

#main-wrapper {
  padding: 0 1em;
  max-width: 50em;
  margin: auto;
}

/* Hide article images */
.article-image {
  display: none;
}

.slider-container {
	width: 500px; /*Same as width of the large image*/
	position: relative;

	/*Instead of height we will use padding*/
	padding-top: 285px; /*That helps bring the labels down*/

	margin: 50px auto;
}

img.slider-element {
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.75);
}

.slider-container p {
  margin-top: 5em;
}

.slider-container>p {
  position: absolute;
	left: 0; top: 305px;
	transition: all 0.5s;
}

/*Last thing remaining is to add transitions*/
.slider-container>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}

.slider-container input[name='velger'] {
	display: none;
}

/* Style thumbs and give inactive ones 50pct opacity */
.slider-container label.slider-thumb {
	margin: 20px 0 0 13px;
	border: 1px solid gray;
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.5;
}

.slider-container label img {
	display: block;
}


/* Border and full opacity to the active thumb */
.slider-container input[name='velger']:checked+label {
	border-color: #666;
	opacity: 1;
}

/* Make all images transparent */
.slider-container input[name='velger'] ~ img {
	opacity: 0;
}

/* Full opacity to the active thumb */
.slider-container input[name='velger']:checked+label+img {
	opacity: 1;
}

/* Hide text */
.slider-container p {
	opacity: 0;
}

/* Show selected image */
.slider-container input[name='velger']:checked+label+img+p {
	opacity: 1;
}
